*{
    font-family: IRANSans;
}

html{
    direction: rtl;
}

main{
    height: calc(100vh - 60px - 65px);
    background-color: #f6f6f6;
}

header{
    height: 60px;
}

p h2{
    text-align: right;
}

.text-gray{
    color: #787878;
}

#logo img{
    width:140px;
    height:60px;
}

.background-blue{
    background-color: #B9EFF2;
    height: 225px;
}

.profile-border{
    height: 290px;
    width: 290px;
    margin-top: -135px;
    border-radius: 20px;
    border:white;
    border-style:solid;
    border-width: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.profile-image{
    height: 270px;
    width: 270px;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.skill-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.green-point-box{
    background-color: #04B800;
    border-radius: 5px;
    margin: 10px;
    height: 30px;
}

.blue-point-box{
    background-color: #B9EFF2;
    border-radius: 5px;
    margin: 10px;
    height: 30px;
}

.make-ltr{
    direction: ltr;
}

.skill-point-style-white{
    text-align: center;
    color: white;
    font-size: x-large;
}

.skill-point-style-black{
    text-align: center;
    color:#156D6F;
    font-size: x-large;
}

footer{
    background-color:#363636;
    height: 65px;
}

.footer-text{
    color: #878787;
}
