.profile-border {
	height: 260px;
	width: 260px;
	margin-top: -135px;
	border-radius: 20px;
	border: white;
	border-style: solid;
	border-width: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.profile-image {
	height: 240px;
	width: 240px;
	margin-top: -10px;
	margin-right: -10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.background-blue {
	background-color: #B9EFF2;
	height: 225px;
}

.profile-paragraph {
	margin: 30px 30px;
}

.dark-bar {
	background-color: #66C9D1;
}

.light-bar {
	background-color: #7ADBE3;
}

.profile-bar {
	width: 380px;
	height: 32px;
	display: block;
	-ms-transform: skew(-32deg, 0deg);
	-webkit-transform: skew(-32deg, 0deg);
	transform: skew(-32deg, 0deg);
	margin-right: 15px;
}