.profile-border {
	height: 210px;
	width: 210px;
	margin-top: -100px;
	border-radius: 25px;
	border: white;
	border-style: solid;
	border-width: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.profile-image {
	height: 190px;
	width: 190px;
	z-index: 5;
	position:relative;
	margin-top: -10px;
	margin-right: -10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.background-blue {
	background-color: #B9EFF2;
	height: 150px;
	box-shadow: inset 0px 1px 10px 1px rgba(0,0,0, 0.1);
}

.profile-paragraph {
	color: #464646;
	font-weight: 300;
	margin: 30px 30px;
}

.dark-bar {
	background-color: rgb(106, 201, 205 , 0.85);
}

.light-bar {
	background-color: rgb(127, 218, 222 , 0.6);
}

.profile-bar {
	width: 200px;
	height: 30px;
	display: block;
	z-index: 3;
	position:relative;
	-ms-transform: skew(-32deg, 0deg);
	-webkit-transform: skew(-32deg, 0deg);
	transform: skew(-32deg, 0deg);
	margin-right: 100px;
	-webkit-box-shadow: -19px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -19px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -10px 0px 0px 0px #7ADBE3;
}

form{
	overflow: hidden;
	background-color: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	border-radius:5px;
	height: 50px;
	width: 315px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}

form select{
	background: transparent;
	background-color: #F6F6F6;
	border: solid;
	border-color: rgb(204, 203, 203);
	border-width: 1px;
	list-style: square;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px;
	height: 40px;
	width: 200px;
	padding: 5px;
}

.form-input{
	text-align: center;
	height: 40px;
	border: none;
	border-radius:5px;
	background-color: #0099A5;
	color: white;
	font-weight: 100;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}