.background-blue{
    background-color: #B9EFF2;
    box-shadow: inset 0px 1px 10px 1px rgba(0,0,0, 0.1);
    height: 100px;
}

.background{
    background-color: white;
    margin-top: -50px;
    box-shadow: 0 1px 4px rgba(0,0,0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text-margin{
    padding: 25px 10px;
    margin-right: -20px;
}

.project-image{
    padding: 25px 25px;
    height: auto;
    max-width: 100%;
}

.unorder-list{
    list-style: none;
    margin: 0px;
    display: inline-flex;
    padding: 0px;
}

.unorder-list li{
    margin: 4px;
}

.unorder-list li p{
    margin-top: 3px;
    margin-bottom: -20px;
}

.gray-color{
    color: #767676;
}

.blue-color{
    color: #118991;
    #F0F5F5
}

.dashed-line{
    border:none;
    border-top:2px dashed #00D3DE;
    color:#fff;
    background-color:#fff;
    height:1px;
    margin-left: 15px;
    margin-right: 15px;
    width:100%;
      
}

.project-skill{
    background-color: #F9F9F9;
    height: 100px;
}

.bid-container{
    padding: 15px 15px;
    background-color: #FFFFFF;
}

.green-color{
    color: #008D3D;
}