.text-box {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.text-box:focus {
	background-color: #ddd;
	outline: none;
}

.right-placeholder::placeholder {
	direction: rtl;
	text-align: right;
}

.right-placeholder {
	direction: ltr;
	text-align: left;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}
