<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../fonts/iransans-fonts/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/profile.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>جاب اونجا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div id="logo" class="col-auto">
                    <img src="../img/logo v1.png" alt="jobonja logo">
                </div>
                <nav class="col-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">حساب کاربری</div>
                        <div class="col-auto">خروج</div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="background-blue">
        </section>
        <section>
            <section class="container">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="profile-border ">
                            <img src="../img/profile.jpg" alt="profile photo" class="profile-image">
                        </div>
                    </div>
                    <div class="col-auto">
                        <h2>نوید اکبری</h2>
                        <p class="text-gray">دانشجو</p>
                    </div>
                </div>
                <div class="row">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum blanditiis aperiam tenetur.
                    Tenetur culpa sapiente nisi hic, dolor quam omnis tempore ullam enim repudiandae assumenda
                    voluptatem doloribus, minima, eaque alias!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam dolor eius vel at. Voluptatem harum
                    quas voluptate ratione nulla at officiis. Harum facilis natus accusamus nam placeat, excepturi
                    blanditiis ut!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, architecto. Repellendus corrupti
                    voluptatibus ullam molestiae aspernatur! Tempore asperiores explicabo, corporis eligendi aut
                    doloremque, vero tempora qui totam perferendis labore velit?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et blanditiis ex incidunt neque voluptatem
                    facilis corrupti sed in voluptatum vitae, eos beatae repudiandae temporibus exercitationem,
                    delectus itaque, voluptates iste porro?
                </div>
                <div class="row justify-content-start make-ltr">
                    <div class="col-auto skill-box">
                        <div class="row align-items-center">
                            <div class="col">
                                HTML
                            </div>
                            <div class="col green-point-box skill-point-style-white">
                                +
                            </div>
                        </div>
                    </div>
                    <div class="col-auto skill-box">
                        <div class="row align-items-center">
                            <div class="col">
                                CSS
                            </div>
                            <div class="col green-point-box skill-point-style-white">
                                3
                            </div>
                        </div>
                    </div>
                    <div class="col-auto skill-box">
                        <div class="row align-items-center">
                            <div class="col">
                                JavaScript
                            </div>
                            <div class="col blue-point-box skill-point-style-black">
                                16
                            </div>
                        </div>
                    </div>
                    <div class="col-auto skill-box">
                        <div class="row align-items-center">
                            <div class="col">
                                TypeScript
                            </div>
                            <div class="col blue-point-box skill-point-style-black">
                                2
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer class="row justify-content-center">
        <div class="col-auto align-self-center">
            <span class="footer-text">
                تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد &copy;
            </span>
        </div>
    </footer>
</body>

</html>