<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../resources/fonts/iransans-fonts/fonts.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/profile.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>جاب اونجا</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div id="logo" class="col-auto">
					<img src="../resources/img/logo v1.png" alt="jobonja logo">
				</div>
				<nav class="col-auto">
					<div class="row align-items-center">
						<div class="col-auto">حساب کاربری</div>
						<div class="col-auto">خروج</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<section class="background-blue">
			<div class="container h-100">
				<div class="row h-100 align-items-end no-gutters">
					<div class="col-auto">
						<span class="profile-bar dark-bar"></span>
					</div>
				</div>
			</div>
		</section>
		<section>
			<section class="container">
				<div class="row align-items-center">
					<div class="col-auto">
						<div class="profile-border">
							<img src="../resources/img/profile.jpg" alt="profile photo" class="profile-image">
						</div>
					</div>
					<div class="col-auto">
						<h2>نوید اکبری</h2>
						<p class="text-gray">دانشجو</p>
					</div>
				</div>
				<div class="row">
					<span class="profile-paragraph">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
						روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
						بهبود
						ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می
						طلبد تا
						با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
						کرد. در
						این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز
						شامل
						حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
					</span>
				</div>
				<!-- part other-user-profile -->
				<!-- <div class="make-ltr">
					<div class="row justify-content-start no-gutters">
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">HTML</span>
									</div>
									<div class="col-auto ">
										<span class="point-blue green-hover point-box">5</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">CSS</span>
									</div>
									<div class="col-auto ">
										<span class="point-green point-box">3</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">JavaScript</span>
									</div>
									<div class="col-auto ">
										<span class="point-blue green-hover point-box">16</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">TypeScript</span>
									</div>
									<div class="col-auto ">
										<span class="point-blue green-hover point-box">2</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- profile-page part-->
				<div class="make-rtl mx-3 mb-3">
					<div class="row">
						<h4 class="px-3 py-2">مهارت‌ها:</h4>
						<form>
							<select title="skillName" name="skillName">
								<option value="0">--انتخاب مهارت--</option>
								<option value="1">Python</option>
								<option value="2">C++</option>
								<option value="3">Java</option>
								<option value="4">SQL</option>
							</select>
							<input type="submit" class="form-input" value="افزودن مهارت">
						</form>
					</div>
				</div>
				<div class="make-ltr">
					<div class="row justify-content-start no-gutters">
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">HTML</span>
									</div>
									<div class="col-auto ">
										<span class="point-blue red-hover point-box">5</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">CSS</span>
									</div>
									<div class="col-auto ">
										<span class="point-blue red-hover point-box">3</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">JavaScript</span>
									</div>
									<div class="col-auto ">
										<span class="point-blue red-hover point-box">16</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="skill-box">
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<span class="skill-text">TypeScript</span>
									</div>
									<div class="col-auto ">
										<span class="point-blue red-hover point-box">2</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</main>
	<footer>
		<div class="container h-100">
			<div class="row align-items-center justify-content-center h-100">
				<div class="col-auto">
					<span class="footer-text">
						&copy; تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد
					</span>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>