<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>جاب اونجا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div id="logo" class="col-auto">
                    <img src="../img/logo v1.png" alt="jobonja logo">
                </div>
                <nav class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <p>حساب کاربری</p>
                        </div>
                        <div class="col-auto">
                            <p> خروج</p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class = "background">

        </section>
    </main>
</body>

</html>