<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../fonts/iransans-fonts/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/project.css">
    <link rel="stylesheet" href="../my-icons-collection/font/flaticon.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>جاب اونجا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div id="logo" class="col-auto">
                    <img src="../img/logo v1.png" alt="jobonja logo">
                </div>
                <nav class="col-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">حساب کاربری</div>
                        <div class="col-auto">خروج</div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="background-blue">

        </section>
        <section>
            <div class="container">
                <div class="background">
                    <div class="row">
                        <div class="col-md-3 mt-2">
                            <img src="../img/profile.jpg" alt="project image" class="project-image">
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <span class="mt-4">
                                    <h2>پروژه طراحی سایت جاب‌اونجا</h2>
                                </span>
                            </div>
                            <div class="row">
                                <span class="gray-color">
                                    <p>
                                        <i class="flaticon-deadline"></i>
                                        <b>
                                            زمان باقی‌مانده:
                                        </b>
                                        ۱۷ دقیقه و ۲۵ ثانیه
                                    </p>
                                </span>
                            </div>
                            <div class="row">
                                <span>
                                    <p class="blue-color">
                                        <i class="flaticon-money-bag"></i>
                                        <b>
                                            بودجه: ۲۵۰۰ تومان
                                        </b>

                                    </p>
                                </span>
                            </div>
                            <div class="row">
                                <p><b>توضیحات</b></p>
                            </div>
                            <div class="row">
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                    و مجله در ستون و سطرآنچنان که لازم است
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="dashed-line"></div>
                </div>
                <div class="project-skill">
                    <div class="col-md-2 ">
                        <div>
                            <p><b>مهارت‌های لازم</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-auto ">
                    <span class="footer-text">
                        &copy; تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>