<!DOCTYPE html>
<html lang="fa">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/normalize.css">
    <link rel="stylesheet" href="../resources/fonts/iransans-fonts/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/project.css">
    <link rel="stylesheet" href="../resources/my-icons-collection/font/flaticon.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>جاب اونجا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="header">
            <div class="container header-hover">
                <div class="row justify-content-between align-items-center">
                    <div id="logo" class="col-auto">
                        <img src="../resources/img/logo_v1.png" alt="jobonja-logo">
                    </div>
                    <nav class="col-auto">
                        <div class="row align-items-center">
                            <a href="../views/profile.html" class="col-auto profile-link">حساب کاربری</a>
                            <div class="col-auto">خروج</div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="background-blue"></section>
        <section>
            <div class="container">
                <div class="background">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../resources/img/test.png" alt="project image" class="project-image">
                        </div>
                        <div class="col-md-9 text-margin">
                            <div>
                                <h2>پروژه طراحی سایت جاب‌اونجا</h2>
                            </div>
                            <div class="my-3">
                                <!-- for project-already-bid and project-bid part -->
                                <!-- <div class="gray-color">
                                    <ul class="unorder-list">
                                        <li><i class="flaticon-deadline "></i></li>
                                        <li>
                                            <p>
                                                <b>
                                                    زمان باقی‌مانده:
                                                </b>
                                                ۱۷ دقیقه و ۲۵ ثانیه
                                            </p>
                                        </li>
                                    </ul>
                                </div> -->
                                <!-- for project-deadline-reached part -->
                                <div class="red-color">
                                    <ul class="unorder-list">
                                        <li><i class="flaticon-deadline "></i></li>
                                        <li>
                                            <p>
                                                <b>
                                                    مهلت تمام شده
                                                </b>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blue-color">
                                    <ul class="unorder-list">
                                        <li>
                                            <i class="flaticon-money-bag"></i>
                                        </li>
                                        <li>
                                            <p>
                                                <b>
                                                    بودجه: ۲۵۰۰ تومان
                                                </b>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- for project-deadline-reached part -->
                                <div class="green-color">
                                    <ul class="unorder-list">
                                        <li><i class="flaticon-check-mark"></i></li>
                                        <li>
                                            <p>
                                                <b>
                                                    برنده: وحید محمدی
                                                </b>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="my-3">
                                <h5>توضیحات</h5>
                            </div>
                            <div>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                    و مجله در ستون و سطرآنچنان که لازم است
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="dashed-line"></div>
                </div>
                <div class="project-skill border-bottom py-3">
                    <div class="mx-5">
                        <div class="make-rtl">
                            <div class="row">
                                <div class="blue-color mt-2">
                                    <h5>مهارت‌های لازم:</h5>
                                </div>
                            </div>
                        </div>
                        <div class="make-ltr">
                            <div class="row justify-content-start no-gutters">
                                <div class="col-auto">
                                    <div class="skill-box">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <span class="skill-text">HTML</span>
                                            </div>
                                            <div class="col-auto">
                                                <span class="point-blue point-box">5</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="skill-box">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <span class="skill-text">CSS</span>
                                            </div>
                                            <div class="col-auto ">
                                                <span class="point-blue point-box">3</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="skill-box">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <span class="skill-text">JavaScript</span>
                                            </div>
                                            <div class="col-auto ">
                                                <span class="point-blue point-box">16</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="skill-box">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <span class="skill-text">TypeScript</span>
                                            </div>
                                            <div class="col-auto ">
                                                <span class="point-blue point-box">2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="bid-container py-4">
                    <!-- for project-already-bid part -->
                    <!-- <div class="green-color">
                            <ul class="unorder-list mr-3">
                                <li><i class="flaticon-check-mark"></i></li>
                                <li>
                                    <p>
                            شما قبلا پیشنهاد خود را ثبت کرده‌اید.
                                    </p>
                                </li>
                            </ul>
                    </div> -->
                    <!-- for project-deadline-reached part -->
                    <div class="red-color">
                        <ul class="unorder-list mr-3">
                            <li><i class="flaticon-danger"></i></li>
                            <li>
                                <p>
                                    مهلت ارسال پیشنهاد برای این پروژه به پایان رسیده است!
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- for project-bid part -->
                    <!-- <div class="row mx-3">
                        <span class="mt-2">
                            <h5>ثبت پیشنهاد</h5>
                        </span>
                    </div>
                    <div class="row mx-3">
                        <form class="form-inline">
                            <div class="form-group ml-3 mb-2">
                                <span class="input-border">
                                    <input type="text" placeholder="پیشنهاد خود را وارد کنید">
                                    <span class="input-color mr-4">
                                        تومان
                                    </span>
                                </span>
                            </div>
                            <button type="submit" class="button mb-2">ارسال</button>
                        </form>
                    </div> -->
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-auto ">
                    <span class="footer-text">
                        &copy; تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>