<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../fonts/iransans-fonts/fonts.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/project.css">
    <link rel="stylesheet" href="../my-icons-collection/font/flaticon.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>جاب اونجا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="container header-hover">
            <div class="row justify-content-between align-items-center">
                <div id="logo" class="col-auto">
                    <img src="../img/logo v1.png" alt="jobonja logo">
                </div>
                <nav class="col-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">حساب کاربری</div>
                        <div class="col-auto">خروج</div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="background-blue">

        </section>
        <section>
            <div class="container">
                <div class="background">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../img/test.png" alt="project image" class="project-image">
                        </div>
                        <div class="col-md-9 text-margin">
                            <div>
                                <span>
                                    <h2>پروژه طراحی سایت جاب‌اونجا</h2>
                                </span>
                            </div>
                            <div>
                                <span class="gray-color">
                                    <ul class="unorder-list nopadding">
                                        <li><i class="flaticon-deadline icon"></i></li>
                                        <li>
                                            <p>
                                                <b>
                                                    زمان باقی‌مانده:
                                                </b>
                                                ۱۷ دقیقه و ۲۵ ثانیه
                                            </p>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                            <div>
                                <span class="blue-color">
                                    <ul class="unorder-list nopadding">
                                        <li>
                                            <i class="flaticon-money-bag"></i>
                                        </li>
                                        <li>
                                            <p>
                                                <b>
                                                    بودجه: ۲۵۰۰ تومان
                                                </b>
                                            </p>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                            <div>
                                <p><b>توضیحات</b></p>
                            </div>
                            <div>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; لورم ایپسوم متن ساختگی با تولید سادگی
                                    نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                    و مجله در ستون و سطرآنچنان که لازم است
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="dashed-line"></div>
                </div>
                <div class="project-skill">
                    <div class="col-md-2 ">
                        <div>
                            <p><b>مهارت‌های لازم</b></p>
                        </div>
                    </div>
                    <div class="make-ltr">
                        <div class="row justify-content-start no-gutters">
                            <div class="col-auto">
                                <div class="skill-box">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <span class="skill-text">HTML</span>
                                        </div>
                                        <div class="col-auto">
                                            <span class="point-blue point-box">5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="skill-box">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <span class="skill-text">CSS</span>
                                        </div>
                                        <div class="col-auto ">
                                            <span class="point-blue point-box">3</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="skill-box">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <span class="skill-text">JavaScript</span>
                                        </div>
                                        <div class="col-auto ">
                                            <span class="point-blue point-box">16</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="skill-box">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <span class="skill-text">TypeScript</span>
                                        </div>
                                        <div class="col-auto ">
                                            <span class="point-blue point-box">2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="gray-line"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="bid-container">
                    <div class="green-color">
                        <p>
                            <i class="flaticon-check-mark"></i>
                            شما قبلا پیشنهاد خود را ثبت کرده‌اید.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-auto ">
                    <span class="footer-text">
                        &copy; تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>