<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../fonts/iransans-fonts/fonts.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/register.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>جاب اونجا</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div id="logo" class="col-auto">
					<img src="../img/logo v1.png" alt="jobonja logo">
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container h-100">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col-md-8">
					<form>
						<h1>ثبت نام</h1>
						<hr>
						<label for="email"><b>ایمیل</b></label>
						<input type="email" class="text-box" placeholder="ایمیل وارد کنید" name="email" required>
						<label for="pwd"><b>رمز عبور</b></label>
						<input type="password" class="text-box" placeholder="رمز وارد کنید" name="pwd" required>
						<label for="pwd-repeat"><b>تکرار رمز عبور</b></label>
						<input type="password" class="text-box" placeholder="تکرار رمز وارد کنید" name="pwd-repeat" required>
						<div class="row justify-content-center">
							<div class="col-sm-4">
								<button type="submit" class="signupbtn">ثبت نام</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="container h-100">
			<div class="row align-items-center justify-content-center h-100">
				<div class="col-auto">
					<span class="footer-text">
						&copy; تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد
					</span>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>