<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../resources/fonts/iransans-fonts/fonts.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/register.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>جاب اونجا</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<div class="header">
			<div class="container">
				<div class="row align-items-center">
					<div id="logo" class="col-auto">
						<img src="../resources/img/logo v1.png" alt="jobonja logo">
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div>
			<div class='slider'>
				<div class='slide slide1'></div>
				<div class='slide slide2'></div>
				<div class='slide slide3'></div>
			</div>
		</div>
		<div class="container h-100">
			<div class="row justify-content-center align-items-center main-height">
				<div class="col-md-9">
					<form class="register-form py-2 px-5">
						<h1 class="center-text">ثبت نام</h1>
						<hr>
						<div class="row">
							<div class="col-md-6">
								<label for="firstname"><b>نام</b></label>
								<input type="text" class="text-box" placeholder="نام خود را وارد کنید" name="firstname" required>
							</div>
							<div class="col-md-6">
								<label for="lastname"><b>نام خانوادگی</b></label>
								<input type="text" class="text-box" placeholder="نام خانوادگی وارد کنید" name="lastname" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label for="username"><b>نام کاربری</b></label>
								<input type="text" class="text-box right-placeholder" placeholder="نام کاربری وارد کنید" name="username"
								 required>
							</div>
							<div class="col-md-6">
								<label for="bio"><b>بیو</b></label>
								<input type="text" class="text-box" placeholder="توضیح کوتاه در مورد خودت" name="bio" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<label for="jobTitle"><b>عنوان شغلی</b></label>
								<input type="text" class="text-box" placeholder="عنوان شغل تا حد ممکن فارسی" name="jobTitle" required>
							</div>
							<div class="col-md-6">
								<label for="profileImgUrl"><b>عکس پروفایل</b></label>
								<input type="url" class="text-box right-placeholder" placeholder="لینک عکس پروفایل" name="profileImgUrl"
								 required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<label for="pwd"><b>رمز عبور</b></label>
								<input type="password" class="text-box" placeholder="رمز وارد کنید" name="pwd" required>
							</div>
							<div class="col-md-6">
								<label for="pwd-repeat"><b>تکرار رمز عبور</b></label>
								<input type="password" class="text-box" placeholder="تکرار رمز وارد کنید" name="pwd-repeat" required>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-4">
								<button type="submit" class="signupbtn">ثبت نام</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="container h-100">
			<div class="row align-items-center justify-content-center h-100">
				<div class="col-auto">
					<span class="footer-text">
						&copy; تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد
					</span>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>