.unorder-list{
    list-style: none;
    margin: 0px;
    display: inline-flex;
    padding: 0px;
}

.unorder-list li{
    margin: 4px;
}

.unorder-list li p{
    margin-top: 3px;
    margin-bottom: -20px;
}

.red{
    color: #EF0920;
}

.blue{
    color: #2D9299;
}

.green{
    color:#008D3D;
}

.gray{
    color: #767676;
}

ul li.flaction-text-margin {
    margin-top: 7px;
}