.background{
    background-color: white;
    margin-top: -50px;
    box-shadow: 0 1px 4px rgba(0,0,0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-image{
    margin: 30px 25px;
    border: 1px solid rgb(243, 243, 243);
    max-height: 12em;
    max-width: 12em;
}