.select-input-form {
	overflow: hidden;
	background-color: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	height: 50px;
	width: 315px;
}

.select-input-form-select {
	background: transparent;
	background-color: #F6F6F6;
	border: solid;
	border-color: rgb(204, 203, 203);
	border-width: 1px;
	list-style: square;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px;
	height: 40px;
	width: 200px;
	padding: 5px;
}

.form-input {
	margin-right: 10px;
	text-align: center;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #0099A5;
	color: white;
	font-weight: 100;
}