.text-box {
	width: 100%;
	padding: 10px;
	margin: 5px 0 1em 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.text-box:focus {
	background-color: #ddd;
	outline: none;
}

.right-placeholder::placeholder {
	direction: rtl;
	text-align: right;
}

.right-placeholder {
	direction: ltr;
	text-align: left;
}


hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

main {
	background-color: rgba(0, 0, 0, 0.0);
}

.register-button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border-radius: 5px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.register-button:hover {
	opacity: 1;
}

.register-form {
	background-color: white;
	padding: 45px;
	margin-top: 32px;
	margin-bottom: 32px;
	border-radius: 24px;
}

.slider {
	margin: 0px auto;
	position: absolute;
	min-height: calc(100% - 60px);
}

.slide {
	position: absolute;
	min-width: 100vw;
	min-height: 100%;
}

.slide1 {
	background: url('../../resources/img/slideshow/1.jpeg')no-repeat center;
	background-size: cover;
	animation: fade 8s infinite;
	-webkit-animation: fade 8s infinite;
}

.slide2 {
	background: url('../../resources/img/slideshow/2.jpeg')no-repeat center;
	background-size: cover;
	animation: fade2 8s infinite;
	-webkit-animation: fade2 8s infinite;
}

.slide3 {
	background: url('../../resources/img/slideshow/3.jpeg')no-repeat center;
	background-size: cover;
	animation: fade3 8s infinite;
	-webkit-animation: fade3 8s infinite;
}

@keyframes fade {
	0% {
		opacity: 1
	}

	33.333%,
	66.666% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes fade2 {
	0% {
		opacity: 0
	}

	33.333% {
		opacity: 1
	}

	66.666%,
	100% {
		opacity: 0
	}
}

@keyframes fade3 {

	0%,
	33.333% {
		opacity: 0
	}

	66.666% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}