.profile-border {
	height: 210px;
	width: 210px;
	margin-top: -100px;
	border-radius: 25px;
	border: white;
	border-style: solid;
	border-width: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
	height: 190px;
	width: 190px;
	z-index: 5;
	position: relative;
	margin-top: -10px;
	margin-right: -10px;
	border-radius: 20px;
}

.profile-bar {
	width: 200px;
	height: 30px;
	display: block;
	z-index: 3;
	position: relative;
	transform: skew(-32deg, 0deg);
	box-shadow: -10px 0px 0px 0px #7ADBE3;
	margin-right: 100px;
}

.dark-bar {
	background-color: rgb(106, 201, 205, 0.85);
}

.profile-paragraph {
	color: #464646;
	font-weight: 300;
	margin: 30px 30px;
}

.make-ltr {
	direction: ltr;
}

form {
	overflow: hidden;
	background-color: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	height: 50px;
	width: 315px;
}

form select {
	background: transparent;
	background-color: #F6F6F6;
	border: solid;
	border-color: rgb(204, 203, 203);
	border-width: 1px;
	list-style: square;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px;
	height: 40px;
	width: 200px;
	padding: 5px;
}

.form-input {
	text-align: center;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #0099A5;
	color: white;
	font-weight: 100;
}