.main{
  display: flex;
}

.projects{
  margin:-2em 1em 0 1em;
}

.users{
  flex-shrink: 4;
  margin:-2em 0 0 1em;
}

.user-search {
  border: solid white;
  justify-content: center;
  border-radius:5px;
  padding: 5px 20px;
  margin-bottom: 0.75em;
  background-color: #F9F9F9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.user-search-input {
	vertical-align: center;
	background-color: unset;
}