.project{
    background-color: white;
    padding: 1em 0 0.5em 0;
    border-radius: 5px;
    margin-bottom:1em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.project:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.image{
    display: inherit;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid rgb(243, 243, 243);
    max-width: 100%;
    max-height: auto;
}

.description{
    font-size: 12px;
    padding-left: 3em;
}

.time{
    border-radius:2px;
    background-color: #F5F5F5;
    padding: 0.2em 0.2em;
    font-size: 12px;
    margin-left: 2em;
    text-align: center;
    color: #7F7F7F;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}

.time-background{
    background-color: #3E8788;
    color: white;
}
.title{
    font-size: 1em;
    flex-grow: 1;
}

.skills-color{
    color:#ABABAB;
    font-weight: 400;
    font-size: 0.9em;
}

.budget{
    font-weight: 400;
    font-size: 14px;
}