* {
	font-family: IRANSans;
}

html {
	direction: rtl;
}

main {
	min-height: calc(100vh - 60px - 65px);
	background-color: #f6f6f6;
	text-align: right;
	text-align: justify;
}

.make-ltr {
	direction: ltr;
}

.main-height {
	min-height: calc(100vh - 60px - 65px);
}

.center-text {
	text-align: center;
}

input {
	border: none;
	outline: none;
}